* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: rgb(255, 0, 0);
    padding: 1rem;
}

/* GAME */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.game {
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    width: 18vmin;
    height: 18vmin;
    background-color: coral;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: aliceblue;
    cursor: pointer;
}

/* BUTTONS */
#rstBtn,
#newGame {
    padding: 1rem 2.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 10;
}

/* STATES */
.hide {
    display: none;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}
